.Header{    
    width:100%;    
}
.headerCont{    
    margin:1em 2em;
    display:flex;
    justify-content: space-between;
    align-items: center;     
}
.logo{    
    width:5em;
    height:auto;
}
.sectionCont{
    margin-top:2em;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section{
    flex:0 1 28em;    
    padding:1em;    
    box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
}
.section > .form{
    padding-top: 4em;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form > .refMsg{
    color:black;
    font-weight: bolder;   
    font-size:0.8rem; 
}
.form > .refMsg span{
    color:blue;    
}
.form p{
    font-size: 0.8rem;
    margin:0.5em;
    color:gray;
}
.form > .formInput{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    width:100%;
    padding:3em 2em;
}
.formInput input{
    width:100%;
    padding:1.2em 2em;
    border:2px solid rgb(189, 214, 238);    
    border-radius: 0.5em;
    background: rgba(189, 214, 238,0.5);
    font-size: 0.8rem;
}
.formInput input:focus{
    outline:none;
}
.formInput > .errorMsg{
    color:red;
}
.formInput > .enable{
    width:100%;
    padding:0.6em 2em;
    margin-top:2em;
    border:2px solid blue;    
    border-radius: 0.5em;
    background: blue;
    font-weight: bolder;  
    font-size: 1.2rem;  
    color:white;
    cursor:pointer;
}

.formInput > .disable{
    width:100%;
    padding:0.6em 2em;
    margin-top:2em;
    border:1px solid rgba(128, 128, 128,0.5);    
    border-radius: 0.5em;
    background: rgba(128, 128, 128,0.5);
    font-weight: bolder;  
    font-size: 1.2rem;  
    color:white;    
}