*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size:15px;
    color:white;
    font-family: Calibri light,Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width:100%;
    overflow-y: hidden;
}
.container > .head{
    position:fixed;
    width:100%;
    background: #2f1e33;
    padding:1.5em 3em 0em 3em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:20vh;
}
.head > .section1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5em;
}
.head > .section1 > .brandName{
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 3px;
}
.head > .section1 > .SnM{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2em;
}
.head > .section1 > .SnM > .searchSection{
    display:flex;
    width:20em;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding:0.3em;
    border-radius:0.5em;    
}
.searchSection input{
    padding-left: 1em;
    width:80%;
    outline:none;
    border:2px solid white;
    font-size: 0.8rem;
}
.searchSection > .icon{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.SnM > .menu{
    cursor:pointer;
}
.head > .section2{
    width:35%;
    display:flex;
    justify-content: center;
    gap:0.5em;
    align-items: center;
    margin-left:-2em;
    padding-bottom:0.5em;
}
.head > .barSection{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-left:-2em;
    width:35%;    
}
.barSection > .movableBar{
    padding:0.15em;
    border-radius: 0.2em;
    width:50%;
    background: #7a1280;
}
.section2 > .chats, .groups {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.5em;    
    font-weight: bolder;
    font-size: 0.8rem;
    cursor:pointer
}
.section2 > .chats{
    width:45%;
    letter-spacing: 3px;
}
.section2 > .groups{
    width:45%;
    letter-spacing: 3px;
}
.numb{
    background: #7a1280;
    width:1.3em;
    height:1.3em;
    border-radius:0.65em;
    display:flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0px;
}
.bdy{
    padding-top:20vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.bdy > .chatList{
    width:35%;
    height:80vh;
    border-right:2px solid #2d1b31;
    overflow-y: scroll;
}
.bdy > .chatMessage{
    width:65%;
    background:#e6b9de;
    height:80vh;
    border-left:2px solid #2d1b31;
    overflow-y: hidden;
}
.chatMessage > .messageCont{  
    position:fixed;  
    bottom:0px;    
    width:65%;
    display:flex;
    justify-content: center;
    margin:0.8em;
    align-items: center;
    z-index:2;
    gap:1em;
}
.messageCont > .postMessage{    
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1em;
    width:70%;    
    border-radius: 1em;
    background:white    
}
.postMessage > .emoji{
    width:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-weight: bolder;
    cursor:pointer;
}
.postMessage textarea{
    width:90%;
    outline:none;
    border: 2px solid white;
    resize: none;
    overflow-y: hidden;
}
.messageCont > .send{
    color:blue;
    font-weight: bolder;
    cursor:pointer;
    background: transparent;
    border:2px solid transparent;
}