*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size:15px;
    color:white;
    font-family: Calibri light,Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width:100%;
    overflow-y: hidden;
}
.container > .bdy{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.bdy > .chatList{
    width:35%;
    height:100vh;
    /* overflow-y: scroll; */
}
.chatList > .chatHead{
    width:100%;
    background: #2f1e33;
    padding:1em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:4em;
}
.chatHead > .profileImg{
    width:2.5em;
    height:2.5em;
    background:white;
    border-radius: 1.5em;
    display:flex;
    justify-content: center;
    align-items: center;
}
.profileImg img{
    width:100%;
    height: 100%;
    border-radius: 1.5em;
}
.chatHead > .other{
    padding-right:1em;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2em;
}
.other > .stats{
    width:2em;
    height:2em;
    background: transparent;
    border-radius: 1em;
    border:2px solid white;
}
.chatList > .searchSection{
    display:flex;
    justify-content: center;
    align-items: center;
}
.chatList > .searchSection > .chatSearch{
    margin:0.5em;
    display:flex;
    width:80%;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding:0.3em;
    border-radius:0.5em;   
    background: #ccc4c8;
}
.chatSearch input{
    padding:0.5em;
    width:85%;
    outline:none;
    border:2px solid #ccc4c8;
    font-size: 0.8rem;
    background: #ccc4c8;
}
.chatSearch > .icon{
    width:15%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bdy > .chatMessage{
    width:65%;
    background:#e6b9de;
    height:100vh;
    overflow-y: hidden;
}
.chatMessage > .messageHead{
    width:100%;
    background: #2f1e33;
    padding:1em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-left: 2px solid white;
    height:4em;
}
.messageHead > .profileHead{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}
.profileHead > .profile{
    width:2.5em;
    height:2.5em;
    background:white;
    border-radius: 1.5em;
    display:flex;
    justify-content: center;
    align-items: center;
}
.profileHead > .profile img{
    width:100%;
    height: 100%;
    border-radius: 1.5em;
}
.messageHead > .messageInfo{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2em;
    padding-right: 1em;
}
.chatMessage > .messageCont{  
    position:fixed;  
    bottom:0px;    
    width:65%;
    display:flex;
    justify-content: center;
    margin:0.8em;
    align-items: center;
    z-index:2;
    gap:1em;
}
.messageCont > .postMessage{    
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1em;
    width:70%;    
    border-radius: 1em;
    background:white    
}
.postMessage > .emoji{
    width:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-weight: bolder;
    cursor:pointer;
}
.postMessage textarea{
    width:90%;
    outline:none;
    border: 2px solid white;
    resize: none;
    overflow-y: hidden;
}
.messageCont > .send{
    color:blue;
    font-weight: bolder;
    cursor:pointer;
    background: transparent;
    border:2px solid transparent;
}